git+https://github.com/amaranth-lang/amaranth.git
git+https://github.com/hansfbaier/amaranth-boards.git
git+https://github.com/hansfbaier/amaranth-library.git
git+https://github.com/hansfbaier/usb2-highspeed-core.git
git+https://github.com/hansfbaier/adat-core.git
amaranth-yosys
