git+https://github.com/nmigen/nmigen.git
git+https://github.com/hansfbaier/nmigen-boards.git@qmtech-boards
git+https://github.com/hansfbaier/usb2-highspeed-core.git
git+https://github.com/hansfbaier/adat-core.git
git+https://github.com/hansfbaier/nmigen-library.git
