setuptools
wheel
git+https://github.com/amaranth-lang/amaranth.git
git+https://github.com/amaranth-lang/amaranth-soc.git
git+https://github.com/amaranth-community-unofficial/amaranth-boards.git
git+https://github.com/amaranth-community-unofficial/amlib.git
git+https://github.com/amaranth-community-unofficial/usb2-highspeed-core.git
git+https://github.com/amaranth-community-unofficial/adat-core.git
amaranth-yosys
